<!DOCTYPE html>
<html>
<head>
<title>Angular Project</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="lib/angular.1.4.2.min.js"></script>
<script type="text/javascript" src="lib/ui-bootstrap-tpls.0.14.2.min.js"></script>

<script type="text/javascript" src="app/app.js" ></script>

</head>
<body ng-app="app" ng-controller="mainCtrl as main">

	<div class="container" >
		<div class="row">
			<form  ng-submit="main.login()" role="form">
				<h1 class="text-center">Anjular Project consuming REST services
				authenticated using JWT(Java Web Token).</h1>
				
				Welcome {{main.welcomeMsg}} !!
				<br/>
				<label>Enter username : </label><input type="text" ng-model="main.user.username" /><br/>
				<label>Enter password : </label><input type="password" ng-model="main.user.password" /><br/>
				
				<input type="submit" class="btn btn-default"  value="Login"/>
			</form>
			
		</div>
	</div>

</body>
</html>